.etudiant{

  margin-top: 20px;
  float: left;  
  margin-left: 15%;

  .pic{
    display: inline-block;
    float: left;
    margin-right: 20px;

    img{

      height: 75px;
      width: 75px;
      border-radius: 50%;
      border: 2px solid #EB8B32;

    }

  }

  .info{
    float: left;
    display: inline-block;

    .name{

      font-size: 25px;

    }

    .promo{
      font-size: 18px;
      margin-top: 10px;

    }

    .diplome{
      margin-top: 10px;

      p{

        margin-top: 5px;
        margin-left: 10px;

      }

    }

  }

}

.online{

  float: right;
  margin-top: 20px;
  margin-right: 100px;

  .reseaux{

    margin-top: 10px;

  }

  img{
    width: 30px;
    margin-top: 5px;
    margin-left: 5px;
  }

}



.bio{

  width: 100%;
  margin-top: 200px;
  margin-left: 15%;

  .label{

    margin-bottom: 20px;
    font-size: 30px;

  }

  .job{
    margin-top: 10px;
  }

  span{
    color:#EB8B32;
  }

  .actual{
    margin-bottom: 30px;
  }

}

.update{

  margin-top: 50px;

  .button{
    width: 150px;
    margin: auto;

    button{
      background: #EB8B32;
      color: white;
      border: none;
      width: 150px;
      height: 30px;
      cursor: pointer;

    }

  }

  .acf-form{
    display:none;
    
    #wp-acf_content-editor-container, .wp-editor-tabs{
      
      display: none;
      
    }
    
  }

}

#message{
  width: 100%;
  text-align: center;
  font-size: 25px;
  color: #EB8B32;margin-top: -75px;
}

