<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADIS</title>
</head>
<body>
<div class="main">
{{>menu}}

{{#each messages}}
        <div class="alert alert-warning">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{this}}
        </div>
{{/each}}

{{#if offres}}
    </div>

    <h2 class="imgTitle">Offre</h2>

    <div class="main">
        <div class="offre">
            {{#each offres}}
                {{{message}}}
                <hr>
            {{/each}}
        </div>
{{/if}}

{{#if actus}}
    </div>


    <h2 class="imgTitle">Actu</h2>

    <div class="main">
    {{#each actus}}
        {{message}}
            <hr>
    {{/each}}
{{/if}}


    <div class="push"></div>
</div>
{{>footer}}
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>